@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-image: url(space-tourism-website-main/starter-code/assets/home/background-home-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Barlow Condensed', sans-serif;
    
}

nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-inline-start: 50px;
    margin-top: 50px;
    
}
hr{
    height: 2px;
    width: 80%;
    color:grey;
    margin-inline-start: 50px;
    opacity: 40%;
}
#logo{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
#navigation{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    padding-inline-start: 50px;
}
ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    height: 100%;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 50;
    padding-inline: 20px;
    height: 100%;
    letter-spacing: 2.7px;

}
li:hover{
    border-bottom: 2px solid rgba(170, 169, 169, 0.836);
}
li.selected{
    border-bottom: 2px solid white;
}
.number{
    font-weight: 900;
    color: white;
    padding-inline-end: 10px;
}

#container{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}
#title{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}
#title h3{
margin-top: 50px;
font-weight: 100;
font-size: 28px;
padding-inline: 150px;
letter-spacing: 4.75px;
color: #D0D6F9;

}
#title h1{
    margin-top: 30px;
    font-weight: 100;
    font-size: 150px;
    padding-inline: 150px;
    font-family: 'Bellefair', serif;


}
#title p{
    margin-top: 20px;
    font-weight: 100;
    font-size: 16px;
    padding-inline: 150px;
    line-height: 30px;
    color: #D0D6F9;
    letter-spacing: 2.7px;

}
#explore{
    width: 250px;
    height: 250px;
    border-radius: 250px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
    right: 200px; 
    font-size: 1.2em;
    font-family: 'Bellefair', serif;

}
#explore:hover{
    cursor: pointer;
    box-shadow: 0px 0px 30px 30px rgb(48, 48, 48);

}
h2{
    color: black;
    font-weight: 100;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
:visited{
    color: #FFFFFF;
    text-decoration: none;
}