*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(space-tourism-website-main/starter-code/assets/home/background-home-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-inline-start: 50px;
    margin-top: 50px;
    
}
hr{
    height: 2px;
    width: 80%;
    color:grey;
    margin-inline-start: 50px;
    opacity: 40%;
}
#logo{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
#navigation{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    padding-inline-start: 50px;
}
ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    padding-top: 35px;
}
li{
    color: rgb(206, 206, 206);
    font-weight: 50;
    padding-inline: 20px;
}
.number{
    font-weight: 900;
    color: white;
    padding-inline-end: 5px;
}

#container{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}
#title{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}
#title h3{
margin-top: 50px;
font-weight: 100;
font-size: 1.3em;
padding-inline: 190px;

}
#title h1{
    margin-top: 30px;
    font-weight: 100;
    font-size: 8em;
    padding-inline: 190px;


}
#title p{
    margin-top: 30px;
    font-weight: 100;
    padding-inline: 190px;

}
#explore{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
    right: 250px;
    
}
h2{
    color: black;
    font-weight: 100;
}